@font-face 
{
  font-family: 'QuickSand';
  src: url('../fonts/Quicksand_Book.otf')  format('opentype')
}
body
{
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	background-color: #e74c3c;
	font-family: QuickSand !important;
}
body::-webkit-scrollbar
{
	display: none;
}
.ui-page 
{ 
	-webkit-backface-visibility: hidden; 
}

/*Index Page Styling
---------------------------------------------------*/
label
{
	width: 210px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 0px !important;
}
label > p
{
	font-family: QuickSand, sans-serif;
	font-size: 23px;
	color: #ffffff;
}
input
{
	width: 250px;
	border: 5px;
	border-style: solid;
	border-radius: 25px;
	border-color: #AAD4FF;
	padding-left: 20px;
	padding-top: 5px;
	background-color: #ecf0f1;
	margin-top: 10px;
}
input:focus, input:hover
{
	border: 5px;
	border-style: solid;
	border-radius: 25px;
	border-color: #55D4FF;
	outline: none;
	background-color: white;
}
#Name
{
	font-family: QuickSand, sans-serif;
	font-size: 20px;
}
body .center a
{
	position: absolute;
	text-align: center;
	text-decoration: none;
	font-family: QuickSand, sans-serif;
	color: white;
	background-color: #3498db;
}
.go
{
	padding-bottom: 5px;
	padding-top: 10px;
	width: 85px;
	height: 70px;
	margin-left: 88px;
	margin-top: 25px;
	font-size: 25px;
	border-radius: 50px;
	border: 7px white solid;
	-webkit-box-shadow: 0px 0px 40px 2px #5A5A5A;
}
.go:active
{
	-webkit-box-shadow: 0px 0px 40px 1px #5A5A5A;
	-webkit-transform: translateY(2px);
}
.center
{
	width:280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 58%;
	margin-bottom: 200px;
}

/*-----------------------------------------------------*/



/*Navigation Bar Styling
-------------------------------------------------------*/

.navbar
{
	z-index: 5;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #ecf0f1;
	-webkit-box-shadow: 0px 5px 50px #5A5A5A;
}
.navbar>img
{
	margin: 10px 10px;
	margin-top: 13px;
	width : 45px;
	height: 45px;
	float: left;
}
.navbar p
{
	margin-top: 14px;
	margin-bottom: 8px;
	margin-left: 7px;
	font-size: 40px;
	font-family: QuickSand, sans-serif;
	width: 170px;
	float: left;
}
.navbar i
{
	-webkit-box-sizing: border-box;
	font-size: 25px;
	width: 45px;
	height: 45px;
	margin-top: 28px;
	cursor: pointer;
	float: right;
	text-align: center;
}
.navbar ul
{
	position: absolute;
	right: 10px;
	top: 60px;
	background-color: #ecf0f1;
	-webkit-box-shadow: 0px 2px 20px 0px #5A5A5A;
	display: none;
}
.navbar ul li
{
	padding: 10px;
	margin: 5px;
}
.navbar ul li a
{
	width: 85px;
	display: inline-block;
	font-family: QuickSand, sans-serif;
	font-size:15px;
	color: black;
	text-align: center;
	text-decoration: none;
}
.navbar ul li a:active, .navbar ul li:active
{
	background-color: #B4B4B4;
}
.navbar li
{
	border-bottom: 1px dashed black;
}
.navbar li:last-child
{
	border-bottom: 0px;
}
/*--------------------------------------------------------*/


/*About Page Styling
----------------------------------------------------------*/
.centerA
{
	width:320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22%;
}
.author
{
	width: 230px;
	height: 230px;
	border-radius: 160px;
	border: 10px solid white;
	margin-left: 35px;	
}
.social
{
	width: 300px;
	margin-top: 30px;
	background: white;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 13px;
}
.social i
{
	margin-right: 59px;
}
.nameA
{
	font-family: QuickSand, sans-serif;
	font-size: 35px;
	color: white;
	margin-top: 20px;
	margin-left: 27px;
}
.social .fa-twitter-square
{
	margin-right: 0px;
	color: #4099FF;
	cursor: pointer;
}
.social .fa-facebook-square
{
	color: #3B5998;
	cursor: pointer;
}
.social .fa-google-plus-square
{
	padding-left: 3px;
	color: #DD4B39;
	cursor: pointer;
}
.back
{
	color: white;
	position:absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
/*------------------------------------------------------------*/


/*Welcome Page Styling
-------------------------------------------------------------*/
#welcome
{
	background-color: #2ecc71;
}
.userWelcome
{
	font-family: QuickSand, sans-serif;
	color: white;
	background-color: #2ecc71;
	padding-top: 20px;
	padding-bottom: 20px;
}
 .userWelcome .userWel
{
	width: 100%;
	font-size: 60px;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.userName
{
	text-align: center;
	width: 90%;
	height: 85px;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.info
{
	background-color: #3498db;
	font-family: QuickSand, sans-serif;
	font-size: 22px;
	color: white;
	padding: 20px 20px;
	padding-top: 30px;
	-webkit-box-shadow: 0px -4px 50px #5A5A5A;
}
.start
{
	background-color: #2c3e50;
	border-radius: 20px;
	font-size: 35px;
	padding: 10px 10px;
	text-align: center;
	border: 6px solid white;
	-webkit-box-shadow: 0px 0px 50px 2px #5A5A5A;
	margin-bottom: 50px;
}
.start:active
{
	-webkit-box-shadow: 0px 0px 40px 1px #5A5A5A;
	-webkit-transform: translateY(2px);
}
.info a
{
	display: block;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	text-decoration:none;
	color: white;
}
/*-------------------------------------------------------------*/


/*Categories Page Styling
---------------------------------------------------------------*/
.categories
{
	background-color: #34495e;
	color: white;
	font-family: QuickSand, sans-serif;
	font-size: 20px;
	padding: 20px;
	padding-top: 25px;
	width: 80%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 85px;
	margin-bottom: 50px;
	border-radius: 30px;
	border: 5px solid white;
	-webkit-box-shadow: 10px 5px 30px #5A5A5A;
}
.categories > a
{
	text-decoration: none;
}
.cHeader
{
	width: 80%;
	padding: 20px;
	padding-left: 0px;
	font-weight: 600;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
}
.topic
{
	width: 70%;
	background-color: white;
	border-radius: 10px;
	color: #2c3e50;
	border: 5px solid #16a085;
	padding: 10px;
	padding-right: 30px;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	-webkit-box-shadow: 0px 0px 6px 0px #ecf0f1;
	cursor: pointer;
}
.topic:active 
{
	-webkit-transform: translateY(2px);
}
.topic i
{
	float:right;
}
/*---------------------------------------------------------------*/


/*Ready Page Styling
-----------------------------------------------------------------*/
#ready
{	
	z-index: 2;
	position: fixed;
}
.readyButton
{
	width: 306px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 42%;
	cursor: pointer;
}
.readyText
{
	margin-top: 140px;
	margin-left: 80px;
	position: absolute;
	font-size: 50px;
	color:#ecf0f1;
	font-family: QuickSand, sans-serif;
}
.readyBG
{
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: #2c3e50;
	height: 100%;
	width: 100%;
}
.fa-spin
{
	color: #ecf0f1;
	font-size: 350px;
}
/*------------------------------------------------------------------*/


/*Question Template Styling
--------------------------------------------------------------------*/
#questionTemplate
{
	background-color: #2980b9;	
}
.centerQ
{
	width: 95%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 85px;
}
.options
{
	margin-top: 30px;
}
.options li
{
	position: relative;
	color: black;
	font-size: 15px;
	background-color: #ecf0f1;
	padding: 20px;
	margin: 20px 10px;
	-webkit-border-radius: 20px;
	border: 4px solid #0E0E0E;
	cursor: pointer;
}
.options li:active
{
	-webkit-transform: translateY(2px);
}
.options li span
{
	position: absolute;
	right: 30px;
	visibility: hidden;
}
#question
{
	font-size: 20px;
	color: white;
}
.correct
{
	background-color: #2ecc71 !important;
	color: white !important;
	font-weight: 600;
}
.correct .c
{
	visibility: visible;
}
.correctO
{
	background-color: #2ecc71 !important;
	color: white !important;
	font-weight: 600;	
}
.wrong
{
	background-color: #e74c3c !important;
	color: white !important;
	font-weight: 600;
}
.wrong .w
{
	visibility: visible;
}
.qa
{
	background-color: #2c3e50;
	padding: 20px 15px;
	margin-top: 15px;
	margin-bottom: 25px;
	border-radius: 20px;
	border: 4px solid white;
	-webkit-box-shadow: 0px 5px 30px #5A5A5A;
}
.controls
{
	position: relative;
	height: 60px;
	font-weight: 600;
	background-color: #16a085;
	border-radius: 20px;
	-webkit-box-shadow: 0px 5px 10px #5A5A5A;
	border: 4px solid white;
	color: white;
}
.controls p
{
	font-size: 15px;
	position: absolute;
}
.timer
{
	position: absolute;
	left: 43%;
	top: 10px;
}
.timer span
{
	position: absolute;
	top: 12px;
	right: 14px;
	font-size: 13px;
}
.qN
{
	top: 20px;
	left: 15px;
}
.sc
{
	top: 20px;
	right: 30px;
}
.hideBG
{
	width: 100%;
	height: 2000px;
	background-color: #2980b9;
}
/*-----------------------------------------------------------*/


/*---------------------Back Button Styling----------------------*/
.hoverBack
{
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: #ecf0f1;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	opacity: 0.5;
	cursor: pointer;
}
.hoverBack:hover
{
	opacity: 0.8
}
.hoverBack i
{
	font-size: 30px;
	display: block;
	margin-left: 12px;
	margin-top: 11px;
}
.hoverBack a
{
	color: black;
	text-decoration: none;
}
/*---------------------------------------------------------------*/


/*------------------Results Page Styling-------------------------*/
#results
{
	background-color: #2ecc71;
}
.percentage
{
	background-color: #2ecc71;
	height: 350px;
}
.percentBar
{
	width: 210px;
	padding-top: 110px;
	margin-left: auto;
	margin-right: auto;
}
.percentBar > p
{
	position: absolute;
	font-family: sans-serif;
	width: 210px;
	height: 210px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 173px;
	font-size: 65px;
	color: #ecf0f1;
}
.comment
{
	padding: 10px;
	background-color: #3498db;
	box-shadow: 0px -5px 40px #5A5A5A;
	-webkit-box-shadow: 0px -5px 40px #5A5A5A;
}
#commentLine
{
	font-weight: 600;
	text-align: center;
	color: white;
	font-size: 35px;
	margin-bottom: 60px;
	margin-top: 30px;
}
.uScore
{
	font-weight: 600;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	text-align: center;
}
.rButtons
{
	position: relative;
	background-color: #2c3e50;
	border-radius: 20px;
	font-size: 25px;
	padding: 10px 10px;
	padding-left: 20px;
	border: 5px solid white;
	box-shadow: 0px 0px 50px 1px #5A5A5A;
	-webkit-box-shadow: 0px 0px 50px 1px #5A5A5A;
	margin-bottom: 20px;
	margin-top: 20px;
}
.rButtons i
{
	position: absolute;
	right: 15px;
	top: 15px;
	display: block;
}
.rButtons:active
{
	box-shadow: 0px 0px 40px 1px #5A5A5A;
	-webkit-box-shadow: 0px 0px 40px 1px #5A5A5A;
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
}
#results .comment a
{
	display: block;
	text-decoration:none;
	color: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
/*---------------------------------------------------------------*/


/*-------------------Statistics Page Styling---------------------*/
#statistics
{
	background-color: #2ecc71;
}
.sPercentage
{
	background-color: #2ecc71;
	height: 350px;
}
.sPercentBar
{
	width: 210px;
	padding-top: 110px;
	margin-left: auto;
	margin-right: auto;
}
.sPercentBar > p
{
	position: absolute;
	font-family: sans-serif;
	width: 210px;
	height: 210px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 174px;
	font-size: 65px;
	color: #ecf0f1;
}
.categoryPercentage
{
	padding: 20px;
	background-color: #3498db;
	box-shadow: 0px -5px 40px #5A5A5A;
	-webkit-box-shadow: 0px -5px 40px #5A5A5A;
}
.categoryPercentage p
{
	color: white;
	font-size: 20px;
	font-weight: 600;
	width: 50%;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	padding-top: 25px;
	border-top: 1px dashed #34495e;
}
.categoryPercentage #firstChild
{
	border: none;
}
.categoryPercentage span
{
	float: right;
}
.categoryPercentage meter
{
	display: block;
	width: 50%;
	min-width: 300px;
  	height: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
  	border: 4px solid #1abc9c;
  	border-radius: 17px;
}
meter::-webkit-meter-bar {
  	background: none;
  	background-color: #ecf0f1;
  	border-radius: 17px;
}
meter::-webkit-meter-optimum-value {
  	background: none;
	background-color: #e74c3c;	
	border-radius: 17px;
}
/*---------------------------------------------------------------*/
